- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			.slider-main
				.slide 
					img(src=img+"telefon.png", alt="")
				.slide 
					img(src=img+"telefon.png", alt="")
				.slide 
					img(src=img+"telefon.png", alt="")
			.container
				.pop__form(id="text-popup_1" class="mfp-hide")
					h2 Обратная связь
					form.form(type="POST" id="forms")
						label.user-name-label Введите имя: 
						input.user-name(type="text" id="name")
						label.user-tell-label Введите Телефон: 
						input.user-tell(type="tel" id="tel")
						input.user-btn(type="button" value="Отправить" id="btn_submit")
					.messages
				.sale
					a.btn--yellow(id="pop_3" href="#text-popup_1") Новая цена 4500₽ вместо <span>7500₽<span>
					img(src=img+"discount.png", alt="")
					.sele__text(href="#") предложение действует лишь до конца <span>апреля<span>!
				.effect 
					.effect__block
						img(src=img+"PerkusMassazh-2.jpg", alt="")
					.effect__block
						h2 Массажер эффективен для:
						ul 
							li Снятия болей и напряжения в мышцах.
							li Улучшения кровотока.
							li Выведения токсинов и свободных радикалов, образующихся в мышцах после активных тренировок.
							li Устранения триггерных точек и защемлений нервных окончаний.
							li Повышению подвижности и работоспособности мускулатуры.
				.use
					.use__block
						h2 Как использовать перкуссионный массажер
						p Прибором может пользоваться любой взрослый человек, независимо от наличия навыков или специальных знаний в области массажа. В принципе, массажный пистолет сделает всю работу сам. Достаточно выполнять несложные рекомендации и соблюдать технику безопасности.
						ul 
							li Включить массажер.
							li Плавно проводить наконечником по мышце, которую необходимо проработать. Сильно надавливать при этом нельзя, да и не нужно — ударные импульсы сами проникнут в ткани на нужную глубину.
							li Обнаружив болезненное уплотнение, по форме похожее на комок внутри ткани, необходимо задержаться на этом участке в течении 3-4 сек. После этого продолжить плавное движение по другим мышцам.
							li Осторожно выбрать скорость, угол и положение массажера. Когда мышцы привыкнут, можно немного увеличить частоту вибраций.
							li При выполнении массажа не следует торопиться. Важно как следует расслабиться и получать удовольствие.
							li Заниматься самомассажем не более 15 мин. в день.
					.use__block
						img(src=img+"PerkusMassazh-3.jpg", alt="")
				h2 Описание продукта
				.description
					.description__block
						img(src=img+"foto (1).jpg", alt="")
						h3 5 сменных насадок
						p долговечность
					.description__block
						img(src=img+"foto (2).jpg", alt="")
						h3 20 режимов работы
						p переключение одним касанием
					.description__block
						img(src=img+"foto (5).jpg", alt="")
						h3 Эргономичность
						p легкий вес
					.description__block
						img(src=img+"foto (6).jpg", alt="")
						h3 Стильный дизай
						p элегантный черный цвет
				.map 
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6d1f94bda063ba5a9f317c70d5067c3c7e641c263fdc6cea78c6a688444a18e5&amp;height=456&amp;lang=ru_RU&amp;scroll=true"></script>

		include blocks/footer.pug
		include blocks/scripts.pug